body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fef7ff;
    color: #333;
}

body.dark{
    background-color: #121212;
    color: #e1e1f0;
    transition: background 0.3s ease, color 0.3s ease;
}

body.dark header{
    background-color: #1e1e2e;
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.3);
}

body.dark .card{
    background-color: #242436;
    color: #f0f0ff;
    border: 1px solid rgba(138, 43, 226, 0.15);
    box-shadow: 0 4px 12px rgba(138, 43, 226, 0.15);
    transition: background 0.3s ease, color 0.3s ease;
}

body.dark .card:hover{
    background-color: #2e2e48;
    box-shadow: 0 4px 20px rgba(186, 85, 211, 0.3);
}

body.dark button,
body.dark select{
    background-color: #3d3d5c;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark #toggle-theme{
    background: linear-gradient(135deg, #6c5ce7, #341f97);
}

#toggle-theme{
    position: fixed;
    top: 80px;
    right: 20px;
    background: linear-gradient(135deg, #8e44ad, #6c5ce7);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 12px 14px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.3s ease, box-shdow 0.3s ease;
    z-index: 1000;
}

#toggle-theme:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

header{
    background-color: #ffccf9;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: medium;
}

a:hover {
  color: #6c63ff; /* ou uma cor de destaque */
}

.site-title{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(90deg, #a56eff, #6c63ff, #3b82f6, #00c2ff);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s ease-in-out infinite;
    text-align: center;
    margin: 30px 0;
    letter-spacing: 2px;
    text-shadow: 
     0 0 10px rgba(165, 110, 255, 0.6),
    0 0 20px rgba(108, 99, 255, 0.6),
    0 0 40px rgba(59, 130, 246, 0.4),
    0 0 80px rgba(0, 194, 255, 0.3); ;
}


.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.card{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}

.card:hover{
    transform: scale(1.03);
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 1rem;
    text-align: center;
}